// Place all the styles related to the Payee controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// Place all the styles related to the FamilyMembers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.payees-container {
  text-align: center;
  table {
    display: inline-block;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    th {
      padding: 1rem 2rem;
      font-weight: bold;
      font-size: 2rem;
    }
    td {
      padding: 1rem 1rem 0.5rem 1rem;
    }
    .payees-container_edit {
      padding: 3px 15px;
      border-radius: 25px;
      text-decoration: none;
      color: #5B5B5B;
      transition: 0.4s;
      background-color: #F1F1F1;
    }
    .payees-container_edit:hover {
      text-decoration: underline;
    }
    .payees-container_delete {
      padding: 3px 15px;
      margin-left: 1rem;
      border-radius: 25px;
      text-decoration: none;
      color: #FC9D9D;
      background-color: #f1f1f1;
      transition: 0.4s;
    }
    .payees-container_delete:hover {
      text-decoration: underline;
    }
  }
}
.payees-container_button {
  text-align: center;
  .payees-container_new {
    display: inline-block;
    text-align: center;
    padding: 15px 32px;
    border-radius: 25px;
    text-decoration: none;
    color: #FFF;
    background-color: #FC9D9D;
    transition: 0.4s;
    margin: 1rem 1rem;
    a {
        color: white;
    }
    .payees-container_new:hover {
      background-color: #e28383;
    }
  }
}
.payees-container_back {
  text-align: center;
  a {
    color: #5B5B5B;
    font-weight: bold;
  }
  a:hover {
    text-decoration: underline;
  }
}
.payees-container_form {
  text-align: center;
  margin: 2rem 10rem;
  li {
    input:-webkit-autofill {
      -webkit-box-shadow: 0 0 0px 1000px #f1f1f1 inset;
      -webkit-text-fill-color: #5B5B5B !important; 
    }
    input:focus {
      outline: 0;
      border: solid;
      border-color: #AAD6EC;
      background-color: #f1f1f1;
    }
    .payees-container_form-name-field {
      width: 18em;
      height: 4rem;
      border-radius: 25px;
      padding: 1rem 1rem;
      text-align: center;
      margin: 1rem 0rem;
      background-color: #f1f1f1;
    }
    .payees-container_form-submit {
      display: inline-block;
      padding: 10px 32px;
      border-radius: 25px;
      text-decoration: none;
      color: #FFF;
      background-color: #FC9D9D;
      transition: 0.4s;
      margin: 1rem 1rem;
      font-size: 1.6rem;
      font-family: "M PLUS Rounded 1c";
      border: none;
    }
    .payees-container_form-submit:hover {
      background-color: #e28383;
    }
  }
}
.payees-container_form-back {
  text-align: center;
  a {
    color: #5B5B5B;
    font-weight: bold;
  }
  a:hover {
    text-decoration: underline;
  }
}
.payees-container_errors {
  text-align: center;
}
.payees_new-description {
  text-align: center;
  margin-top: 8rem;
  h3 {
    font-size: 2.2rem;
    font-weight: bold;
    margin-bottom: 2rem;
  }
  table {
    display: inline-block;
    text-align: center;
    th {
      font-weight: bold;
      padding: 1.2rem 1rem;
      border: solid 2px white;
      background-color: #EEF9FF;
      width: 15rem;
      i {
        margin-right: 0.5rem;
      }
    }
    td {
      padding: 1rem 1rem;
      border: solid 2px white;
      background-color: #F1F1F1;
    }
  }
}
