// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.login-container {
  text-align: center;
  margin: 10rem 10rem;
  li {
    input:-webkit-autofill {
      -webkit-box-shadow: 0 0 0px 1000px white inset;
      -webkit-text-fill-color: #5B5B5B !important;
    }
    .login-container_mail-field {
      width: 18em;
      height: 4rem;
      border: solid;
      border-color: #AAD6EC;
      border-radius: 25px;
      padding: 1rem 1rem;
      text-align: center;
      background-color: white;
      margin: 1rem 0rem;
    }
    .login-container_password-field {
      width: 18em;
      height: 4rem;
      border: solid;
      border-color: #AAD6EC;
      border-radius: 25px;
      padding: 1rem 1rem;
      text-align: center;
      margin: 1rem 0rem;
    }
    .login-container_submit {
      display: inline-block;
      padding: 10px 32px;
      border-radius: 25px;
      text-decoration: none;
      color: #FFF;
      background-color: #AAD6EC;
      transition: 0.4s;
      margin: 1rem 1rem;
      font-size: 1.6rem;
      font-family: "M PLUS Rounded 1c";
      border: none;
    }
    .login-container_submit:hover {
      background-color: #90bcd2;
    }
    
  }
}
