// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.signup-container {
  text-align: center;
  margin: 10rem 10rem;
  li {
    input:-webkit-autofill {
      -webkit-box-shadow: 0 0 0px 1000px #f1f1f1 inset;
      -webkit-text-fill-color: #5B5B5B !important;
    }
    input:focus {
      outline: 0;
      border: solid;
      border-color: #FC9D9D;
      background-color: #f1f1f1;
    }
    .signup-container_name-field {
      width: 18em;
      height: 4rem;
      border-radius: 25px;
      padding: 1rem 1rem;
      text-align: center;
      margin: 1rem 0rem;
      background-color: #f1f1f1;
    }
    .signup-container_mail-field {
      width: 18em;
      height: 4rem;
      border-radius: 25px;
      padding: 1rem 1rem;
      text-align: center;
      margin: 1rem 0rem;
      background-color: #f1f1f1;
    }
    .signup-container_password-field {
      width: 18em;
      height: 4rem;
      border-radius: 25px;
      padding: 1rem 1rem;
      text-align: center;
      margin: 1rem 0rem;
      background-color: #f1f1f1;
    }
    .signup-container_password-confirmation-field {
      width: 18em;
      height: 4rem;
      border-radius: 25px;
      padding: 1rem 1rem;
      text-align: center;
      margin: 1rem 0rem;
      background-color: #f1f1f1;
    }
    .signup-container_submit {
      display: inline-block;
      padding: 10px 32px;
      border-radius: 25px;
      text-decoration: none;
      color: #FFF;
      background-color: #FC9D9D;
      transition: 0.4s;
      margin: 1rem 1rem;
      font-size: 1.6rem;
      font-family: "M PLUS Rounded 1c";
      border: none;
    }
    .signup-container_submit:hover {
      background-color: #e28383;
    }
  }
}
.users-container {
  text-align: center;
  table {
    display: inline-block;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    th {
      padding: 1rem 2rem;
      font-weight: bold;
      font-size: 2rem;
    }
    td {
      padding: 1rem 1rem 0.5rem 1rem;
    }
    .users-container_edit {
      padding: 3px 15px;
      border-radius: 25px;
      text-decoration: none;
      color: #5B5B5B;
      transition: 0.4s;
      background-color: #F1F1F1;
    }
    .users-container_edit:hover {
      text-decoration: underline;
    }
    .users-container_delete {
      padding: 3px 15px;
      border-radius: 25px;
      text-decoration: none;
      color: #FC9D9D;
      background-color: #f1f1f1;
      transition: 0.4s;
    }
    .users-container_delete:hover {
      text-decoration: underline;
    }
  }
  .users-container_list {
    display: block;
    .users-container_list-family_members {
      display: inline-block;
      padding: 15px 32px;
      border-radius: 25px;
      text-decoration: none;
      color: #FFF;
      background-color: #AAD6EC;
      transition: 0.4s;
      margin: 1rem 1rem;
      font-size: 1.6rem;
      font-family: "M PLUS Rounded 1c";
      border: none;
      outline: none;
    }
    .users-container_list-family_members:hover {
      background-color: #90bcd2;
    }
    .users-container_list-payees {
      display: inline-block;
      padding: 15px 32px;
      border-radius: 25px;
      text-decoration: none;
      color: #FFF;
      background-color: #AAD6EC;
      transition: 0.4s;
      margin: 1rem 1rem;
      font-size: 1.6rem;
      font-family: "M PLUS Rounded 1c";
      border: none;
      outline: none;
    }
    .users-container_list-payees:hover {
      background-color: #90bcd2;
    }
  }
}
